apollon2.aet.cit.tum.de {

  @websockets {
  header Connection *Upgrade*
  header Upgrade websocket
  }

  reverse_proxy @websockets server:4444 {
    transport http {
      versions h1.1
    }
  }

   @diagram path /diagram/*
   reverse_proxy @diagram server:8000

   reverse_proxy webapp:80
}
