apollon2.aet.cit.tum.de {
  # WebSocket matcher specifically for /ws path
  @websockets {
    path /ws*
    header Connection *Upgrade*
    header Upgrade *Websocket*
  }

  # Handle WSS connections with proper headers
  reverse_proxy @websockets server:4444 {
    transport http {
      versions h1.1
    }
    header_up Host {host}
    header_up Connection "Upgrade"
    header_up Upgrade "websocket"
    header_up Sec-WebSocket-Version "13"
    header_up X-Real-IP {remote}
    header_up X-Forwarded-For {remote}
    header_up X-Forwarded-Proto {scheme}
  }

  @api path /api/*
  reverse_proxy @api server:8000

  # fallback for everything else
  reverse_proxy webapp:80
}