name: PR Health Checks

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  lint-and-format-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: "24"

      - name: Install dependencies
        run: npm ci

      - name: Run Lint
        run: npm run lint

      - name: Check format
        run: npm run format:check

      - name: Check build
        run: npm run build
